* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Georgia', serif;
}

.link {
    color: blue;
}

body {
  background-image: url("./images/moneybg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing {
  margin-top: 20%;
  padding: 5%;
}

.register {
  margin-top: 8%;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 5%;
}

.login {
  margin-top: 20%;
  padding-left: 10%;
  padding-right: 10%;
}

.gray {
  background-color: lightgray;
  padding: 3%;
}

.home {
  margin-top: 10%;
  margin-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

.entry {
  margin-top: 8%;
  margin-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

.white {
  background-color: white;
  padding: 3%;
}